html, body {
    margin: 0;
}

.Compsci {
    position: absolute;
    margin: 0;
    padding: 1.5rem;
    padding-left: 2rem;
    background-image: url("../assets/greenback_copy.png");
}

.Compsci p {
    font-family: 'Cordata_PPC-400';
}

.header {
    padding-left: 2rem;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 42rem;
}

.home-link {
    justify-content: left;
    margin-left: 2rem;
    color: rgb(70, 121, 33);
    font-size: 2rem;
}

.header {
    padding: 1.5rem;
    background-color: rgb(250, 235, 215, 0.8);
    font-family: 'IGS VGA 8x16';
    font-size: 3vb; 
}

.project {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 3rem;

}

img {
    position: relative;
    width: 100vb;
    height: 60vb;
}

.description {
    padding: 2rem;
    background-color: rgb(250, 235, 215, 0.8);
    font-family: 'IGS VGA 8x16';
    font-size: 2vb;  
}

.description p {
    font-family: 'Cordata_PPC-400';
}

.border {
    border-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAB/klEQVR4Xu3c4Y6CMBBFYXz/h3ZjYowWluk4Byh49u/SW/r1Us0m7G3yBxW4oWmGTYLCJRB0QNA7fE9Hx5VKVhr8XLmgbxUQdP48lExKg20osxvtI05sytHn5vv8pfV9g1GacCS5f+6ltD5B56qCwq3fHDQ7wdm+RkVPaWr9Udhj81OBC9fDBcLjIoPU+qMwQZOFEnQK/0C0e0PPdmZGZ0ZbMkEjseD3ghYB2+GC/hpozwcfbLIaF535wzdU0GZ/o0+57I7v2calubL3G63/Y46e9kSB2RsUtBEonTFHay7Mny3Magm3aGhP5kiugsK7IaigsAAcZ0MFhQXgOBsqKCwAx9lQQWEBOM6GCgoLwHE2VFBYAI6zoYLCAnCcDRUUFoDjbKigsAAcZ0MFhQXgOBsqKCwAx9lQQWEBOM6GCgoLwHE2VFBYAI6zoYLCAnCcDRUUFoDjbKigsAAcZ0MFhQXgOBt6ddB2fdGLYLBHOS56DShq8McNRGGPi1OBC9eXV7xxQGSQWn8UJmiyUIIO8D9H2iewZ1M2fmrR+OgzAH/XU9CV/etpV2nH0O7sE1Zar6DzTdoc9OzfM6u97inda47Uxc9R0Q5WFzDa+JRR6mJB470WFDb6BvTqZ2rJpDT4okdAyaQ0WND5eSEobEKAxsf6D10hKLzZggoKC8Bxf46y8FUCPWCtAAAAAElFTkSuQmCC') 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid; 
}

.border2 {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACAElEQVR4Xu3awY6DMAyE4fb9H7p7sRCZ0hgzg3BW850q4TTJv/S275dJvbdPJuGgYg4qpgj62T79D1QTanFw0B0H/UY1oRYHv6E7V4JiwCvf0Rl1v9JwoDZcAHW/0nCgNlwAdb/ScKA2XAB1vzPDuAHC78jmu6meH+cH04ehukE23031/Dg/mD4M1Q2y+W6q58f5wfRhqG6QzXdTPT/OD44e4hcezczg+u7Y+w3rj75suuAEXN8dez8HBQ4q9nhQfOUz1QPfjT0/rqd/8vg8g+ufxp4f1zvoluIcB00sFxT/ot1lgfE+OH/7Tx4P0B0GQngfnHdQgIGQgxY5qJiDijmomIOKOaiYg4o5qJiDijmomIOKOaiYg4o5qJiDijmomIOKOaiYg4o5qJiDijmomIOKOaiYg4o5qJiDijmomIOKOaiYg4o5qJiDirUPivA/gJ+WBUR4flx/+7+EIzzQ0zBIBs+P6x10S3GOgybaBc1UD/w0fAMzeD/6J5/B9d2x93NQ4KBitwdF+IojPFA23031/Dg/mD4M1Q2y+W6q58f5wfRhqG6QzXdTPT/OD6YPQ3WDbL6b6vlxfjB9+ANueOU7OqPuVxoO1IYLoO5XGg7Uhgug7lcaDtSGC6DuVxr+AQ+wOqoJtTg46I6DfqOaUIuD39AdRVDbcVAxBxVzULE/lMH4Vff6LJIAAAAQZGVCR0NBMjVENjc0Q0MxOEFEQTTHzLH0AAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
}