
.Dance {
    position: absolute;
    background-image: url('src/assets/concrete.jpg');
    font-family: 'IGS VGA 8x16';
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow: hidden; /*disable scrolling */
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Dance p {
    font-family: 'Cordata_PPC-400';
    font-size: 2vb;
    color: rgb(104, 31, 11);
    text-align: center;
    line-height: 1.2rem;
    margin: 3rem;
    padding: 2rem;
    background-color: rgb(250, 235, 215, 0.7);
}
