/*to fill the little gap between the svg and the whole page*/

@font-face {
    font-family: 'IGS VGA 8x16';
    src: url("../assets/fonts/Web437_IGS_VGA_8x16.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cordata_PPC-400';
    src: url("../assets/fonts/WebPlus_Cordata_PPC-400.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

.DIV3 p {
    font-family: 'Cordata_PPC-400';
    font-size: 2vb;
    color: rgb(93, 241, 59);
    text-align: center;
    line-height: 1.2rem;
}

html, body {
    margin: 0;
}

.DIV3 {
    font-family: 'IGS VGA 8x16';
    margin: 0;
    overflow: hidden; /*disable scrolling */
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.DIV3 svg {
    background-color:rgb(216, 152, 34);
    width: 100%; /*need to define viewport in order to do this */
    height: 100%;
}

.link {
    position: absolute;
    text-decoration: none;
    font-size: 3vi;
    color: rgb(93, 241, 59);
    z-index: 10;
}


