/*to fill the little gap between the svg and the whole page*/

/*TODO: change all of the image urls to be relative to the CSS not the root*/
@font-face {
    font-family: 'Nix8810_M15';
    src: url(".../assets/fonts/Web437_Nix8810_M15.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'IGS VGA 8x16';
    src: url(".../assets/fonts/Web437_IGS_VGA_8x16.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
}

.home p {
    position: relative;
    margin-top: 2rem;
    font-family: 'Nix8810_M15';
    z-index: 10;
}

.home {
    font-family: 'IGS VGA 8x16';
    background-image: url('.../assets/train-tunnel.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow: hidden; /*disable scrolling */
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

svg {
    /* width: 100%; /*need to define viewport in order to do this 
    height: 100%; */
    z-index: 1;
}

.link {
    position: absolute;
    text-decoration: none;
    font-size: 3vi;
    color: rgb(93, 241, 59);
    z-index: 10;
    text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

