/*TODO: add another container and overflow hide it and then take off this background color on body*/

html, body {
    margin: 0;
}

.math {
    position: absolute;
    background-color: rgb(13, 13, 113); 
    overflow: hidden;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.label {
    font-family:'Trebuchet MS';
    font-size: 0.5vb;
    fill: rgb(201, 194, 239);
}

.math p {
    font-family: 'Cordata_PPC-400';
    padding:1rem;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 1.3rem;
    color: aliceblue;
}

.subscript {
    font-family:'Trebuchet MS';
    font-size: 0.25vb;
    fill: rgb(201, 194, 239);
}

.border2 {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACAElEQVR4Xu3awY6DMAyE4fb9H7p7sRCZ0hgzg3BW850q4TTJv/S275dJvbdPJuGgYg4qpgj62T79D1QTanFw0B0H/UY1oRYHv6E7V4JiwCvf0Rl1v9JwoDZcAHW/0nCgNlwAdb/ScKA2XAB1vzPDuAHC78jmu6meH+cH04ehukE23031/Dg/mD4M1Q2y+W6q58f5wfRhqG6QzXdTPT/OD44e4hcezczg+u7Y+w3rj75suuAEXN8dez8HBQ4q9nhQfOUz1QPfjT0/rqd/8vg8g+ufxp4f1zvoluIcB00sFxT/ot1lgfE+OH/7Tx4P0B0GQngfnHdQgIGQgxY5qJiDijmomIOKOaiYg4o5qJiDijmomIOKOaiYg4o5qJiDijmomIOKOaiYg4o5qJiDijmomIOKOaiYg4o5qJiDijmomIOKOaiYg4o5qJiDirUPivA/gJ+WBUR4flx/+7+EIzzQ0zBIBs+P6x10S3GOgybaBc1UD/w0fAMzeD/6J5/B9d2x93NQ4KBitwdF+IojPFA23031/Dg/mD4M1Q2y+W6q58f5wfRhqG6QzXdTPT/OD6YPQ3WDbL6b6vlxfjB9+ANueOU7OqPuVxoO1IYLoO5XGg7Uhgug7lcaDtSGC6DuVxr+AQ+wOqoJtTg46I6DfqOaUIuD39AdRVDbcVAxBxVzULE/lMH4Vff6LJIAAAAQZGVCR0NBMjVENjc0Q0MxOEFEQTTHzLH0AAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
}

/* Linear

Intro to Topology

Calc 3

Linear 2

Real Analysis

Complex Analysis

Graph Theory

Groups */